.w3-wide{
    font-family: "Segoe UI", Arial, sans-serif;
    letter-spacing: 4px;
}

.w3-navbar{
    background-color: rgba(9, 206, 236, 0.51);
    width: 100%;
    position: relative;
    z-index: 4;
    font-size: 17px;
}
